@media screen and (max-width: 1195px) {
  /* Here is the mobile menu code start for responsivness */
  #header .container-fuild .site-logo {
    flex-basis: 50%;
  }
  #header .container-fuild .call-to-action-header {
    flex-basis: 49%;
    clear: both;
  }
  #header .container-fuild .call-to-action-header a {
    float: right;
  }
  .mobile-menu {
    display: grid;
  }
  .navigation {
    position: fixed;
    top: 100px;
    right: 1.5rem;
    width: 450px;
    background-color: var(--white-color);
    border-radius: 15px;
    padding: 30px;
    transition: all 0.6s ease;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transform-origin: top right;
    pointer-events: none;
  }
  .navigation::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    right: 0.5rem;
    background-color: var(--white-color);
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    transform: rotate(45deg);
  }
  #header .container-fuild .navigation > ul {
    display: block;
  }
  #header .container-fuild .navigation > ul > li {
    padding: 10px;
  }
  #header .container-fuild .navigation > ul > li > a,
  .navigation > ul > li span {
    color: var(--black-color);
  }
  .under-sub-menu > span svg > path {
    fill: var(--black-color);
    transition: 0.6s ease;
  }
  #header .container-fuild .navigation > ul > li:hover > a,
  .under-sub-menu:hover > span {
    color: rgba(0, 0, 0, 0.5);
  }
  .under-sub-menu:hover > span svg path {
    fill: rgba(0, 0, 0, 0.5);
  }
  .navigation .sub-menu {
    background-color: transparent;
    position: relative;
    margin: 0;
    min-width: 100%;
    padding: 0;
    left: 0;
    transform: translate(0);
    min-height: 0;
    height: 0;
  }
  .sub-menu::before {
    display: none;
  }
  .sub-menu li {
    padding: 10px 0 0 0;
  }
  .navigation .sub-menu li a {
    font-size: 1rem;
    transition: 0.6s ease;
  }
  .sub-menu a span svg {
    width: 1.8rem;
  }
  .sub-menu li:hover {
    background-color: transparent;
  }
  .sub-menu li:hover a {
    color: rgba(0, 0, 0, 0.5);
  }
  .sub-menu li:hover a span svg path {
    fill: rgba(0, 0, 0, 0.5);
  }
  /* Active submenu bar and main menu bar */
  .active__submenu .for-active-nav {
    visibility: hidden;
    opacity: 0;
  }
  .active__mobile__menu .navigation {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
  }
  .active__mobile__menu .for-active-nav {
    visibility: visible;
    opacity: 1;
  }

  /* Other styling */
  .column-reverse-reponsive {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-form {
    max-width: 100%;
    margin-top: 40px;
  }
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .information-wrapper {
    max-width: 100%;
  }
  .corporate-information-image img {
    border-radius: 15px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --section-padding: 40px 0px;
  }
  .our-achivment-card,
  .about-achivment-card {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
    gap: 1.5rem;
  }
  .casestudy-card {
    grid-template-columns: 1fr;
    padding: 20px 20px 0 20px;
    gap: 20px;
  }
  .case-image {
    border-radius: 15px 15px 0 0;
  }
  .case-image img:first-child {
    height: 250px;
  }
  .why-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .our-process-work {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .process-card {
    text-align: left;
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .process-card::before {
    width: 0;
    height: 100%;
    border-right: 2px dashed var(--black-color);
  }
  .process-card div:first-child {
    max-width: 40px;
    max-height: 40px;
  }
  .process-card div:first-child svg {
    width: 20px !important;
    height: 20px !important;
  }
  .process-card::before {
    top: 40px;
    left: 20px;
  }
  .process-card h4 {
    font-size: 1.3rem;
  }
  .featured-projects {
    grid-template-columns: repeat(2, 1fr);
  }

  /*==================================== Corporate video solution page responsive stying starts here ================================ */
  .usp-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /*==================================== Contact page responsive stying starts here ================================ */
  .contact-page-form-section .contact-page-form {
    grid-template-columns: 1fr;
  }
  .additional-contact-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .additional-contact-card:last-child {
    grid-column: 1 / span 2;
  }
  .main-form {
    border-left: none;
    padding: 2rem;
  }
  .contact-page-image {
    order: 2;
  }

  /* Here is the our work page responsiveness styling here */
  .our-work-hero {
    background-image: url("images/our-work_mobile.webp");
  }
  .workpost-cards-warpper {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Here is the Blog section in home page responsiveness styling here */
  .blog-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --section-padding: 40px 0px;
  }

  h1 {
    font-size: 1.9rem;
    font-family: var(--font-family);
    font-display: swap;
    font-weight: 700;
    line-height: 1.3;
  }
  h2,
  h3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3 !important;
  }
  p {
    font-size: 1rem;
  }

  /* Header Section styling Here */
  #header .container-fuild {
    column-gap: 0.7rem;
  }
  #header .container-fuild .call-to-action-header a {
    text-wrap: nowrap;
    font-size: 0.7rem;
    padding: 0.6rem;
  }
  #header .container-fuild .site-logo img {
    width: 110px;
  }
  .mobile-menu {
    row-gap: 0.4rem;
  }
  .mobile-menu span:nth-child(1),
  .mobile-menu span:nth-child(3) {
    width: 0.8rem;
    height: 0.125rem;
  }
  .mobile-menu span:nth-child(2) {
    width: 1.6rem;
    height: 0.125rem;
  }
  .active__mobile__menu .mobile-menu span:nth-child(1) {
    translate: -1px -3px;
  }
  .active__mobile__menu .mobile-menu span:nth-child(3) {
    translate: 1px 3px;
  }
  .navigation {
    width: 95%;
    right: 0;
    left: 50%;
    top: 80px;
    translate: -50%;
  }
  .scroll-up #header .container-fuild {
    padding: 0.8rem;
  }
  /* Hero section responsive stying here */
  .hero-section {
    background-image: url("images/Hero_image_mobile.webp");
    padding: 130px 15px 50px 15px;
    height: 70svh;
  }
  .hero-content p,
  .coporate-video-hero-section p,
  .our-work-hero p {
    font-size: 1rem;
    margin: 10px 0 25px 0;
  }

  /* About section reponsive styling here */
  .about-section {
    padding: 50px 0 0 0;
  }

  /* Our achivment section reponsive styling here */
  .our-achivment-card {
    margin-top: 40px;
    margin-bottom: -90px;
  }
  .our-achivment-card div,
  .about-achivment-card div {
    text-align: left;
  }
  .our-achivment-card div p,
  .about-achivment-card div p {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
  .our-achivment-card div span,
  .about-achivment-card div span {
    font-size: 0.9rem;
  }

  /* Featured work responsive styling section here */
  .feature-work-section {
    padding: 130px 0 40px 0;
  }
  .featured-projects {
    grid-template-columns: 1fr;
    margin-top: 20px;
    gap: 15px;
  }
  .featured-projects .featured-project div {
    padding: 20px;
  }
  .featured-projects .featured-project div p {
    margin-top: 5px;
  }
  .featured-projects .featured-project div h4 {
    font-size: 1.5rem;
  }
  .newcontainer .left {
    padding: 20px 20px;
  }
  .newcontainer .left p {
    font-size: 1rem;
  }
  .our-form {
    padding: 0px;
  }
  .why-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .container .left {
    /* padding: 20px 20px; */
    border-radius: 0%;
  }
  .container .left h2 {
    font-size: 1.8rem;

    margin-bottom: 10px; /* Added margin for spacing */
  }
  .container .left p {
    color: black;
    line-height: 1.9rem;
    margin-bottom: 10px;
    text-wrap: wrap; /* Added margin for spacing */
  }
  #client {
    font-weight: 700;
  }

  .container .right {
    border-radius: 0%;
  }
  .container .right .contactform {
    padding: 20px 30px;
  }
  /* //bignumbers*/

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 10px 20px;
  }
  .cards .clients {
    text-align: left;
  }
  .cards .clients p {
    line-height: 1;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .cards .clients span {
    font-family: var(--font-family);
    font-display: swap;
    line-height: 1;
    font-weight: 700;
    font-size: 1.1rem;
  }

  /* Case studies section responsive styling here */
  .case-content h4 {
    font-size: 1.5rem;
  }
  .case-content h5 {
    font-size: 0.9rem;
  }
  .case-tags p {
    font-size: 0.8rem;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    color: var(--black-color);
    font-weight: 700;
  }
  .case-content p {
    font-size: 0.9rem;
  }
  .case-tags {
    margin: 10px 0 15px 0;
  }
  .case-overlay,
  .case-image,
  .case-image img:first-child,
  .case-image img:last-child {
    display: none;
  }
  .casestudy-card {
    gap: 0px;
    padding: 20px;
    min-height: 100%;
  }

  /* Our Services section responsive styling here */
  .services-card h4 {
    font-size: 1.5rem;
  }
  .services-card .related-services p {
    font-size: 0.9 rem;
  }

  /* Testimonial Section responsive styling here */
  .testimonial-section .rating {
    font-size: 0.9rem;
    gap: 10px;
    border-radius: 30px;
    padding: 12px 15px;
  }

  /* FAQ Section responsive styling here */
  .faq .faq-ask h5 {
    font-size: 1rem;
  }
  .faq .faq-answer p {
    font-size: 0.9rem;
  }

  /* Why Section responsive styling here */
  .why-content p {
    font-size: 1rem;
  }

  /* How it Work Section responsive styling here */
  .process-card div:first-child {
    min-width: 40px;
  }
  .contact-form {
    padding: 25px;
    margin-top: 30px;
  }

  /* Footer Section responsive styling here */
  .footer-section {
    padding: var(--section-padding);
  }
  .footer-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 25px 40px;
  }
  .footer-company-profile {
    max-width: 100%;
    grid-column: span 2;
  }
  .footer-contact {
    grid-column: span 2;
  }
  .footer-company-profile img {
    width: 150px;
  }
  .footer-wrapper h5 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .copyright-footer {
    margin-top: 30px;
    flex-flow: column wrap;
    gap: 15px;
  }

  /*==================================== Corporate video solution page responsive stying starts here ================================ */
  .usp-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  /*==================================== Contact page responsive stying starts here ================================ */
  .contact-hero-section {
    padding: 120px 30px 90px 30px;
  }
  .contact-page-form-section > .container {
    margin-top: -50px;
  }
  .contact-page-form-section {
    padding: 0 20px;
  }
  .contact-page-form .contact-form {
    margin-top: 0;
  }
  .contact-hero-section p {
    font-size: 1rem;
    margin-top: 10px;
  }
  .additional-contact-cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .additional-contact-card:last-child {
    grid-column: 1 / span 1;
  }

  /* Here is the our work page responsiveness styling here */
  .workpost-cards-warpper {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* Here is the Blog section in home page responsiveness styling here */
  .blog-cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /*==================================== About page responsive stying starts here ================================ */
  .about-hero-sections {
    padding: 120px 0 40px 0;
  }
  .about-hero-sections p {
    font-size: 1rem;
  }
  .vision-Section h4 {
    font-size: 1.3rem;
  }
  .about-action-section h3 {
    font-size: 1.8rem;
  }

  /*==================================== Corporate video solution page responsive stying starts here ================================ */
  .professional-corporate-video-section h4 {
    font-size: 1.5rem;
  }
  .coporate-video-hero-section,
  .our-work-hero {
    min-height: 55vh;
    align-items: end;
    justify-content: start;
    padding: 130px 0 50px 0;
  }
  .information-heading span {
    display: block;
    flex-shrink: 0;
  }
  .information-heading h4 {
    font-size: 1.2rem;
  }
  .information-basetext p {
    padding-right: 0;
    margin-top: 0.5rem;
  }
}
